html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: none;
}

ul li {
    display: inline;
}

ul {
    display: inline;
}

.navbar {
    min-width: 1080px;
    font-size: 13px;
    padding-top: 15px;
}

.navbar ul li {
    padding-right: 15px;
}

.navbar ul li img {
    width: 22px;
    height: auto;
    margin-top: -20px;
}

#user-icon{
    width: 35px;
    height: auto;
}

#nav-left{
    float: left;
}

#nav-right {
    float: right;
}

img {
    padding-top: 40px;
    padding-bottom: 20px;
}

#main {
    /* padding: none;
    margin: -10px; */
    text-align: center;
    flex: 1 0 auto;
}

form{
    padding-bottom: 20px;
}

form input {
    border-radius: 10px;
}

#main{
margin: 0 auto;
padding-top: 60px;
}

.footer {
    min-width: 1080px;
    flex-shrink: 0;
    font-size: 13px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-top: 1px solid rgb(223, 223, 223);
}

.footer ul li {
    padding-right: 15px;
}


#footer-right {
    float: right;
}

#footer-left{
    float: left;
}

button {
    border: none;
    padding: 10px 15px;;
    background-color: rgb(240, 240, 240);
}

#search {
    border: 1px solid rgb(233, 233, 233);
    /* border-radius: 205px; */
    width: 500px;
    padding: 10px 15px;
}

#buttons {
    padding-top: 30px;
}

a {
    color: black;
}

a:hover{
    color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}