html, body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1080px;
    height: 100%;
    margin: 0;
    padding: none;
}

#top{
    padding-top: 10px;
    width: 100%;
    display: grid;
    font-size: 13px;
    width: 100%;
    /* position: absolute; */
    /* top: 0; */
}

#toolbar{
    padding-top: 20px;
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(224, 224, 224);
}
#toolbar ul li{
    display: inline;
    list-style-type: none;
}

#toolbar ul li img {
    padding-right: 2px;
    padding-left: 20px;
    height: 12px;
    width: auto;
}
 

#left{
    float: left;
    padding-top: 10px;
}

#left input{
    margin-left: 20px;
    display: inline-block;
}

#right{
    /* padding-top: 10px; */
    float: right;
}

#user{
    padding-left: 10px;
    height: 40px;
    width: auto;
}

#menu{
    padding-top: 5px;
}

#logo-left{
    height: auto;
    width: 125px;
    padding-left: 20px;
    padding-right: 20px;
}

input{
    display: grid;
    border-radius: 10px;
}

#search {
    border: 1px solid rgb(233, 233, 233);
    /* border-radius: 205px; */
    display: inline;
    width: 800px;
    padding: 10px 15px;
    position: absolute;
}

#metrics{
    padding-top: 10px;
    color: rgb(158, 158, 158);
}

.title{
    font-size: 20px;
}

.url{
    font-size: 15px;
    color: green;
}

.text{
    font-size: 15px;
}

#settings{
    padding-left: 50px;
}

#settings li {
    padding-right: 5px;
}



#results{
    padding-left: 15em;
    width: 800px;
}

#links{
    text-align: center;
    display: block;
    padding-top: 50px;
    padding-bottom: 30px;
}

#links a{
    display: block;
}

.footer{
    padding-left: 100px;
    width: 100%;
    min-width: 1080px;
    flex-shrink: 0;
    font-size: 13px;
    background-color: rgb(240, 240, 240);
    border-top: 1px solid rgb(223, 223, 223);
    /* position: absolute; */
    bottom: 0;
}

.footer li{
    display: inline;
    list-style-type: none;
}

#footer-lower li{
    padding:  0px 10px 0px 10px;
}

#address {
    font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}